.center-text {
  text-align: center; }

.util-margin-bottom-medium {
  margin-bottom: 3.5rem !important; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  box-sizing: border-box; }

/* width */
::-webkit-scrollbar {
  width: 1rem; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(36, 59, 85, 0.1);
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(36, 59, 85, 0.5); }

html {
  font-size: 62.5%;
  font-family: 'Courgette', cursive, sans-serif;
  font-weight: 400;
  color: #333; }

body {
  font-size: 1.6rem;
  overflow-x: hidden; }

.heading-1 {
  font-size: 2.75rem;
  font-weight: 300; }

.heading-2 {
  font-size: 2.5rem;
  font-weight: 300; }

.heading-3 {
  font-size: 2.25rem;
  font-weight: 400; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@keyframes fadeInRightUp {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  50% {
    transform: translateX(0); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10%); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0); } }

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0%); }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.animate--initial {
  opacity: 0;
  visibility: hidden;
  transform: scale(0); }

.animate--in {
  opacity: 1 !important;
  transform: scale(1) !important;
  visibility: visible !important;
  transition: all 0.5s !important; }

.animate--out {
  opacity: 0 !important;
  visibility: hidden !important;
  transform: scale(0) !important;
  transition: all 0.5s !important; }

.btn {
  border: none;
  font-family: inherit;
  font-weight: inherit;
  background-color: transparent; }
  .btn:focus {
    outline: none; }

.btn-list {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  border: 1px solid #243b55;
  flex: 0 0 40%;
  font-size: 1.75rem;
  transition: all 0.3s; }
  .btn-list:not(:last-child) {
    margin-right: 2rem; }
  .btn-list:hover {
    background-color: #243b55;
    color: #fff;
    transform: translateY(-2px); }

.btn__delete {
  position: fixed;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  line-height: 1;
  padding: 1px;
  font-weight: 600;
  background-color: transparent;
  transition: all 1s;
  z-index: 999; }
  .btn__delete--white {
    color: #fff; }
  .btn__delete:hover {
    transform: scale(1.3); }

.nav {
  position: fixed;
  background-color: #fff;
  top: 12%;
  right: 4rem;
  padding: 2.5rem 5rem;
  border-radius: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.5s; }
  .nav__list {
    list-style: none;
    display: flex;
    align-items: flex-start; }
    .nav__list-main > * {
      margin-right: 1rem;
      padding: 2rem 4rem;
      border: 1px solid #243b55;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      height: 100%; }
    .nav__list-cuisineList, .nav__list-tagList, .nav__list-categoryList {
      flex-direction: column; }
      .nav__list-cuisineList > *:not(:last-child), .nav__list-tagList > *:not(:last-child), .nav__list-categoryList > *:not(:last-child) {
        margin-bottom: 1rem; }
  .nav a:link,
  .nav a:visited {
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    transition: all 0.3s; }
    .nav a:link:hover,
    .nav a:visited:hover {
      color: #243b55;
      border-bottom: 1px solid #243b55; }
    .nav a:link:active,
    .nav a:visited:active {
      color: #333;
      border-bottom: 1px solid #333; }
  .nav__head {
    color: #243b55;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    display: block;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center; }
  .nav__btn-container {
    display: flex;
    align-items: center; }

.search__form {
  display: flex;
  align-items: center;
  margin: 1rem 4rem;
  justify-content: center;
  padding: 2rem;
  background-color: rgba(36, 59, 85, 0.1);
  box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
  border-radius: 10px; }

.search__input {
  flex: 0 0 25%;
  padding: 1.5rem 2.5rem;
  border-radius: 100px;
  color: #333;
  border: none;
  transition: all 0.2s;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.75rem; }
  .search__input:hover {
    transform: scale(1.05); }
  .search__input:focus {
    outline: none; }

.search__btn {
  flex: 0 0 10%;
  margin-left: 2rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  color: #333;
  font-size: 2rem;
  text-transform: capitalize;
  box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  transition: all 0.2s; }
  .search__btn:hover {
    transform: translateY(-5px);
    box-shadow: 0.75rem 0.75rem 0rem rgba(0, 0, 0, 0.1); }
  .search__btn:active {
    transform: translateY(-2px);
    box-shadow: 0.6rem 0.6rem 0rem rgba(0, 0, 0, 0.1); }

.card {
  position: relative; }
  .card--animate .card__front {
    transform: scale(0); }
  .card--animate .card__back {
    transform: scale(1); }
  .card__side {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0rem 0rem 0.75rem 0rem rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .card__front {
    display: flex;
    flex-direction: column;
    background-color: #fff; }
  .card__image {
    width: 100%;
    height: 45%;
    object-fit: cover;
    filter: drop-shadow(0px 4px 5px #000) contrast(0.7); }
  .card__title {
    font-size: 2rem;
    text-transform: capitalize;
    /* background-color: #fff; */
    /* padding: 1rem 0.5rem; */
    margin-top: 2rem;
    text-align: center; }
  .card__list {
    list-style: none;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .card__list li {
      flex: 1 0 48%;
      display: flex;
      align-items: center;
      padding: 1rem; }
    .card__list li:nth-child(2n - 1) {
      margin-right: 1rem; }
  .card__icon {
    display: block;
    height: 2rem;
    width: 2rem; }
    .card__icon--1 {
      fill: blueviolet; }
    .card__icon--2 {
      fill: grey; }
    .card__icon--3 {
      fill: orangered; }
    .card__icon--4 {
      fill: #6d6c6c; }
  .card__list-text {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: capitalize; }
  .card__btn-container {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem; }
  .card__btn {
    padding: 1rem 1.5rem;
    border-radius: 100px;
    border: 2px solid #243b55;
    box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s; }
    .card__btn:hover {
      background-color: #243b55;
      color: #fff;
      transform: translateY(-5px);
      box-shadow: 0.75rem 0.75rem 0rem rgba(0, 0, 0, 0.1); }
    .card__btn:active {
      transform: translateY(-2px);
      box-shadow: 0.6rem 0.6rem 0rem rgba(0, 0, 0, 0.1); }
  .card__back {
    display: block;
    width: 100%;
    background-image: linear-gradient(#243b55, #141e30);
    background-position: center;
    background-size: cover;
    transform: scale(0); }
    .card__back-list {
      list-style: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .card__back-list li {
        color: #fff;
        text-transform: capitalize;
        font-size: 2rem;
        font-weight: 600; }
        .card__back-list li:not(:last-child) {
          margin-bottom: 1.5rem; }

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 4rem;
  padding: 2rem 4rem;
  background-image: linear-gradient(#243b55, #141e30);
  box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 10px; }
  .form > *:not(:last-child) {
    margin-bottom: 1.5rem; }
  .form__label {
    font-size: 1.6rem;
    text-transform: capitalize; }
  .form__input {
    font-weight: inherit;
    color: inherit;
    font-family: inherit;
    padding: 1rem 1.5rem;
    text-transform: capitalize;
    border-radius: 10px;
    color: #000;
    border: none;
    transition: all 0.4s ease; }
    .form__input:focus {
      outline: none;
      align-self: stretch; }
  .form__heading {
    align-self: center; }
  .form__btn {
    font-size: 1.6rem;
    color: #333;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: all 0.5s;
    margin-top: 3.5rem;
    align-self: center; }
    .form__btn:hover {
      color: #fff;
      background-color: #333;
      box-shadow: 0.75rem 0.75rem 0rem rgba(0, 0, 0, 0.1); }
    .form__btn:active {
      color: #333;
      background-color: #fff;
      box-shadow: 0.6rem 0.6rem 0rem rgba(0, 0, 0, 0.1); }

.vertical-card {
  margin: 3rem auto;
  width: 60%;
  box-shadow: 0 0 5px 5px rgba(20, 30, 48, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s; }
  .vertical-card h2 {
    writing-mode: vertical-rl;
    padding: 2rem 4rem;
    background-image: linear-gradient(#243b55, #141e30);
    color: #fff;
    align-self: stretch;
    text-align: center; }
  .vertical-card:hover {
    transform: translateY(-2%); }

.floatbox {
  list-style: none;
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 2rem;
  background-color: #fff;
  opacity: 0.9;
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 1.25rem;
  border-radius: 10px; }
  .floatbox > *:not(:last-child) {
    margin-bottom: 1rem; }
  .floatbox__tag-list {
    list-style: none; }
  .floatbox li {
    display: flex;
    align-items: center; }
    .floatbox li > *:not(:last-child) {
      margin-right: 1rem; }
  .floatbox svg {
    display: block;
    width: 2rem;
    height: 2rem;
    fill: #243b55; }

.error {
  width: 30rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  background-color: #243b55;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; }

.nutriprofile {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  width: 90%;
  height: 90%;
  border: 1px solid black;
  overflow-y: scroll;
  z-index: 9990;
  background-color: currentColor;
  transform: translate(-50%, -50%); }
  .nutriprofile__entire-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    background-color: burlywood;
    z-index: 1000; }
  .nutriprofile__inner-box {
    width: 100%;
    background-color: #243b55; }
  .nutriprofile__card {
    z-index: 10; }
  .nutriprofile__notes {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    list-style: none;
    padding: 2rem;
    padding-top: 4rem;
    width: 100%;
    background-color: #243b55; }
  .nutriprofile--animate {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s; }

.loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 999; }
  .loading svg {
    display: block;
    width: 10rem;
    height: 10rem;
    fill: #243b55;
    animation: spin 5s linear 0s infinite; }

.container {
  display: grid;
  grid-template-rows: 95vh 100vh; }

.header-main {
  background-image: linear-gradient(rgba(20, 30, 48, 0.4), rgba(20, 30, 48, 0.4)), url("../img/fitCover-3.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.header__center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .header__center-container::after {
    content: '';
    clear: both;
    display: table; }

.header__main {
  font-family: 'Lobster', cursive, sans-serif;
  font-weight: 600;
  font-size: 12rem;
  color: #e8e8e9;
  letter-spacing: 5px;
  text-transform: capitalize;
  text-shadow: 1rem 0.5rem 1px rgba(0, 0, 0, 0.2); }
  .header__main--top {
    float: left; }
  .header__main--bottom {
    float: right;
    transform: translate(-2%, 30%); }

.header__facts {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;
  color: #e8e8e9;
  margin-top: 1.5rem;
  text-decoration: underline; }

.header__bar-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #eeefeb;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.9; }
  .header__bar-container--sticky {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 100; }

.header__logo {
  display: block;
  width: 6rem;
  height: 6rem;
  margin-left: 2rem;
  margin-right: auto;
  opacity: 0.7; }

.header__auth-container {
  transition: all 0.3s;
  margin-right: 2rem; }
  .header__auth-container .btn-auth {
    font-size: 1.6rem;
    color: #333;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: all 0.5s; }
    .header__auth-container .btn-auth:hover {
      color: #fff;
      background-color: #333;
      box-shadow: 0.75rem 0.75rem 0rem rgba(0, 0, 0, 0.1); }
    .header__auth-container .btn-auth:active {
      color: #333;
      background-color: #fff;
      box-shadow: 0.6rem 0.6rem 0rem rgba(0, 0, 0, 0.1); }
  .header__auth-container .btn-auth:not(:last-child) {
    margin-right: 1.5rem; }

.header__profile:link, .header__profile:visited {
  font-size: 1.6rem;
  color: #333;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.65rem 2.5rem; }
  .header__profile:link:hover, .header__profile:visited:hover {
    color: #fff;
    background-color: #333;
    box-shadow: 0.75rem 0.75rem 0rem rgba(0, 0, 0, 0.1); }
  .header__profile:link:active, .header__profile:visited:active {
    color: #333;
    background-color: #fff;
    box-shadow: 0.6rem 0.6rem 0rem rgba(0, 0, 0, 0.1); }

.header__profile-image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem; }

.header__profile span {
  font-size: 1.6rem; }

.btn-nav {
  font-size: 1.6rem;
  color: #333;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: all 0.5s;
  margin-right: 2rem;
  transition: all 0.5s; }
  .btn-nav:hover {
    color: #fff;
    background-color: #333;
    box-shadow: 0.75rem 0.75rem 0rem rgba(0, 0, 0, 0.1); }
  .btn-nav:active {
    color: #333;
    background-color: #fff;
    box-shadow: 0.6rem 0.6rem 0rem rgba(0, 0, 0, 0.1); }

.header-common {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #eeefeb;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.9; }
  .header-common__logo {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    opacity: 0.7; }

.footer {
  background-image: linear-gradient(to right bottom, #243b55, #141e30);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__logo {
    margin-top: 2rem;
    width: 10rem; }

.main {
  display: flex;
  flex-direction: column;
  background-color: #fff; }
  .main__util-bottom {
    background-color: #eeefeb;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-top: auto; }

.recipe-container {
  overflow-y: scroll;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 29rem));
  grid-auto-rows: 42rem;
  gap: 7rem;
  justify-content: center; }

.log-container {
  display: flex;
  padding-top: 4rem; }

.signup-box {
  flex: 0 0 50%; }

.signin-box {
  flex: 0 0 50%; }

.recipe__title {
  text-align: center;
  padding: 2rem 0;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-out;
  align-self: center; }
  .recipe__title:hover {
    letter-spacing: 2px; }

.recipe__image-container {
  width: 90%;
  height: 50rem;
  margin: 0 auto;
  box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  position: relative; }

.recipe__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.recipe__ingredients-list, .recipe__details-list {
  list-style: none;
  flex: 1;
  font-size: 1.6rem;
  padding: 3rem 6rem;
  column-count: 2;
  column-gap: 5rem;
  column-rule: 2px solid rgba(0, 0, 0, 0.5);
  text-transform: capitalize; }
  .recipe__ingredients-list > *:not(:last-child), .recipe__details-list > *:not(:last-child) {
    margin-bottom: 1rem; }
  .recipe__ingredients-list li, .recipe__details-list li {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.recipe__instructions-list, .recipe__healthbenifits-list {
  list-style: none;
  padding: 3rem 6rem;
  text-transform: capitalize; }
  .recipe__instructions-list > *:not(:last-child), .recipe__healthbenifits-list > *:not(:last-child) {
    margin-bottom: 1.5em; }
  .recipe__instructions-list span, .recipe__healthbenifits-list span {
    text-decoration: underline; }

.recipe__author {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  flex: 1;
  padding: 3rem 6rem; }
  .recipe__author-image {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid #243b55; }
  .recipe__author-name {
    font-size: 1.75rem;
    font-weight: 600;
    margin-left: 1rem; }
  .recipe__author-box {
    flex: 0 0 50%;
    display: flex;
    align-items: center; }

.recipe__link-box {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column; }

.nutri-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1; }

.nutri__list {
  list-style: none;
  flex: 0 0 30%;
  padding: 2rem;
  border: 2px solid #000;
  background-color: #fff; }
  .nutri__list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem; }
