.log-container {
  display: flex;
  padding-top: 4rem;
  //   align-items: center;
}

.signup-box {
  flex: 0 0 50%;
}

.signin-box {
  flex: 0 0 50%;
}

// .login-body {
//   height: 100%;
//   background-color: $secondary-background-color;
//   margin: 2rem;
// }
