//BACGROUND-COLOR
$primary-background-color: #e8e8e9;
$secondary-background-color: #eeefeb;
$tertiary-background-color: #e8e8e9;

//ACCENT-COLORS
$extra-light-accent-color: #31557e;
$light-accent-color: #243b55;
$moderate-accent-color: #1b3552;
$dark-accent-color: #141e30;

// $light-accent-color: #289944;
// $moderate-accent-color: #0e3013;
// $dark-accent-color: #040f08;

//FONT-COLORS
$light-font-color: #b3b3b3;
$moderate-font-color: #777;
$dark-font-color: #333;

//BASIC-COLORS
$color-black: #000;
$color-white: #fff;

//SHADES
$azure: #f0ffff;
$main-back: #fff;
